/*body scss variables */
$body-background-color: grey;
$font-color: black;
/*container scss variables */
$container-background-color: white;
$container-height: 100%;
$container-width: 100%;
/*header scss variables*/
$header-background-color: #e9573f;
$header-height: 50px;
$header-width: 100%;

/*button scss variable chnage to modify button styling*/
$button-background-color: #25ccf9;
$button-border: 1px solid black;
$button-color: white;
$button-hover-background-color: #2598f9;
$button-width: 100px;
$button-height: 30px;
$button-font-size: 16px;
$button-border-radius: 5px;
$button-margin: 0 0 0 46%;

/*Footer scss variables*/
$footer-height: 50px;
$footer-background-color: #e9573f;
$footer-text-color: black;
$footer-font-size: 10px;
